@model IEnumerable<WaiterInfo>
@{
    ViewData["Title"] = "Waiter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; margin-top:0.5em; margin-bottom:0.5em; color:#FAAB78;">Waiters</h2>

<table class="table table-bordered">
    <tr>
        <th>Waiter ID</th>
        <th>Waiter Name</th>
        <th>Waiter Phone</th>
    </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.phoneNo</td>
            </tr>
    }
</table>

