<header>
    <nav class="navbar navbar-light navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebHW</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="AddOrder">Add Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Order">Orders</a>
                    </li>
                </ul>
            </div>
            <div class="align-content-between">
                <a class="nav-link btn btn-warning" asp-area="" asp-controller="Staff" asp-action="Index">Admin Panel</a>
            </div>
        </div>
    </nav>
</header>
