@model UserModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="text-align:center; margin-top:0.5em; margin-bottom:0.5em; color:#FAAB78;">Login</h2>

<div class="container" style="max-width:500px">
    <main role="main" class="pb-3">
        <form method="post" asp-action="Index">
            <div class="form-group">
                <label id="username">User Name</label>
                <input type="text" name="username" class="form-control">
                <label id="userpassword">Password</label>
                <input type="password" name="userpassword" class="form-control">
                <br />
                <button class="btn btn-info justify-content-end">Login</button>
            </div>
        </form>
    </main>
</div>




