
@{
    ViewData["Title"] = "AddOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddOrder</h1>

<form method="post">
    <div class="form-group">
        <label>Staff ID</label>
        <input type="text" name="staffid" class="form-control" />
        <label>Order Address</label>
        <input type="text" name="orderaddress" class="form-control" />
    </div>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>


