@model IEnumerable<CashierInfo>
@{
    ViewData["Title"] = "Cashier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; margin-top:0.5em; margin-bottom:0.5em; color:#FAAB78;">Cashiers</h2>

<table class="table table-bordered">
    <tr>
        <th>Cashier ID</th>
        <th>Cashier Name</th>
        <th>Cashier Phone</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.name</td>
            <td>@item.phoneNo</td>
        </tr>
    }
</table>

