@model IEnumerable<CourierInfo>
@{
    ViewData["Title"] = "Courier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; margin-top:0.5em; margin-bottom:0.5em; color:#FAAB78;">Couriers</h2>

<table class="table table-bordered">
    <tr>
        <th>Courier ID</th>
        <th>Courier Name</th>
        <th>Courier Phone</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.name</td>
            <td>@item.phoneNo</td>
        </tr>
    }
</table>

